@model Bibliotek.Models.Bog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
