@model Bibliotek.Models.Bog

@{
    ViewBag.Title = "Detaljer om Bog";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageURL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Ret", "Edit", new { id = Model.BogId }) |
    @Html.ActionLink("Tilbage til Bøger", "Index")
</p>
