@model IEnumerable<Bibliotek.Models.Genre>

@{
    ViewBag.Title = "Genrer";
}

<h2>Liste over @ViewBag.Title</h2>

<p>
    @Html.ActionLink("Opret ny Genre", "Create")
</p>
<table class="table tableGenrer">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Navn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Navn)
        </td>
        <td>
            @Html.ActionLink("Ret", "Edit", new { id=item.GenreId }) |
            @Html.ActionLink("Detaljer", "Details", new { id=item.GenreId }) |
            @Html.ActionLink("Slet", "Delete", new { id=item.GenreId })
        </td>
    </tr>
}

</table>
